[package]
name = "greentic-component"
version = "0.1.0"
edition = "2021"
license = "MIT"

[lib]
path = "src/lib.rs"

[features]
default = ["oci"]
oci = ["dep:oci-distribution"]
schema = ["dep:schemars"]

[dependencies]
anyhow = { workspace = true }
bytes = { workspace = true }
directories = "5"
greentic-interfaces = "^0.4"
greentic-types = "^0.1"
hex = { workspace = true }
ignore = "0.4"
oci-distribution = { version = "0.10", optional = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
assert_fs = "1"
tempfile = "3"
tokio = { workspace = true }
